.match{
	text-align: center;
}
.match-btn{
	/*margin-top: 10%;*/
}
@media (max-width: 650px) {
	#match-btn-common{
		display: inherit;
	}
	#match-btn-lg{
		display: none;
	}
}
@media (min-width: 651px) {
	#match-btn-common{
		display: none;
	}
	#match-btn-lg{
		display: inherit;
	}
}