<p class="p1" align="center">个人信息</p>
<p class="p2" align="center">姓名：<%= user.name %></p>
<p class="p2" align="center">ID号:<%= user.uid %></p>
<p class="p2" align="center">职称:<%= user.title.name %></p><br>
<h3>Achievments statistic</h3>
project number: <%= get_project_number user %><p>