	<div class="container panel" id="panel">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4 col-sm-6 panel-block">
					<%= link_to(project_manage_list_path, remote: true)  do %>
						<div class="panel-elm" id="panel-elm0"><p class="panel-text">Projects Manage</p></div>
					<% end %>
				</div>
				<div class="col-md-4 col-sm-6 panel-block">
					<div class="panel-elm" id="panel-elm1"><p class="panel-text">Achievements Manage</p></div>
				</div>
				<div class="col-md-4 col-sm-6 panel-block">
					<div class="panel-elm" id="panel-elm2"><p class="panel-text">Papers Manage</p></div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-4 col-sm-6 panel-block">
					<%= link_to(@user, remote: true)  do %>
						<div class="panel-elm" id="panel-elm4"><p class="panel-text">Infomation Manage</p></div>
					<% end %>
				</div>
				<div class="col-md-4 col-sm-6 panel-block">
					<%= link_to(search_path, remote: true)  do %>
						<div class="panel-elm" id="panel-elm4"><p class="panel-text">Search</p></div>
					<% end %>
				</div>
				<div class="col-md-4 col-sm-6 panel-block">
					<%= link_to(match_path, remote: true)  do %>
						<div class="panel-elm" id="panel-elm5"><p class="panel-text">Match</p></div>
					<% end %>
				</div>
			</div>
		</div>
	</div>