<link href="./css/main.css" rel="stylesheet" media="screen">
<link href="./css/panel.css" rel="stylesheet" media="screen">
<script type="text/javascript">
$(function(){
	$("#start-btn").click(function(){
		$("#welcome-jumbotron").fadeOut("normal", function(){
			 $("#panel").show('slide', {direction: 'right'},  1000);
		});

	});
});
</script>
<title>对口支援联合科研平台</title>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header" id="header">
			  <h2>Rayon</h2>
			</div>
			<div id="bottom-nav">
				<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
				  <div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				  </div>
				  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav"  id="bot-nav-left">
				      <li class="active"><%= link_to 'Home', welcome_path, remote: true%></li>
				    </ul>
				    <ul class="nav navbar-nav navbar-right">
				    	<li><%= link_to 'logout', logout_path, :method => :delete%></li>
				    	<li><a href="#">About</a></li>
				  </div>
				</nav>
			</div>
		</div>
	</div>
</div>

<div id="main-content">
	<% if flash[:notice]%>
		<div class="jumbotron" id="welcome-jumbotron">
			<h3><%= @user.uid %></h3>
			<h1>Welcome Back!</h1>
			<a class="btn btn-primary btn-lg" role="button" id="start-btn">Start</a>
		</div>
	<% end %>
	<%= render 'panel'%>
	<% if flash[:notice]%>
		<script type="text/javascript">
			$('#panel').css({"display":"none"});
		</script>
  <% end %>
</div>