<% content_for :head do %>
  <%= stylesheet_link_tag "main", media: "all" %>
  <%= stylesheet_link_tag "panel", media: "all" %>
  <script type="text/javascript">
  $(function(){
    $("#start-btn").click(function(){
      $("#welcome-jumbotron").fadeOut("normal", function(){
         $("#panel").show('slide', {direction: 'right'},  1000);
      });

    });
  });
  </script>
<% end %>
<% content_for :main_content do %>
  <% if flash[:notice]==:login%>
    <div class="jumbotron" id="welcome-jumbotron">
      <h3><%= @user.uid %></h3>
      <h1>欢迎回来!</h1>
      <a class="btn btn-primary btn-lg" role="button" id="start-btn">开始</a>
    </div>
  <% end %>
  <%= render 'panel'%>
  <% if flash[:notice]==:login%>
    <script type="text/javascript">
      $('#panel').css({"display":"none"});
    </script>
  <% end %>
<% end %>
