<!-- <link rel="stylesheet" type="text/css" media="screen" href="./css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="./js/moment.js"></script>
<script type="text/javascript" src="./js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="./js/bootstrap-datetimepicker.ru.js"></script> -->
<div class="container form">
	<%= render 'form' %>
</div>