					<h2>Rayon <small>Project manage</small><div class="col-md-2 pull-right btn-group">
						<button type="button" class="btn btn-default glyphicon glyphicon-list active"/>
							<%= link_to "",project_manage_tag_path, remote: true, 
							:class => "btn btn-default glyphicon glyphicon-th-large", type: :button%>
					</div></h2>