<div class="container">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr class="success">
                <th>Id</th>
                <th>Name</th>
                <th>Brief</th>
                <th>Start/End</th>
                <th>State</th>
                <th>Source</th>
                <th>Participation</th>
                <th>Manage</th>
            </tr>
            </thead>
            <tbody>
            <%= render 'project_list_cells'%>
            </tbody>
        </table>
    </div>
</div>