					<h2>Rayon <small>Project manage</small><div class="col-md-2 pull-right btn-group">
						<%= link_to "",project_manage_list_path, remote: true, 
							:class => "btn btn-default glyphicon glyphicon-th-list", type: :button%>
						<button type="button" class="btn btn-default glyphicon glyphicon-th-large active"/>
					</div></h2>