<% content_for :main_content do %>
<%= stylesheet_link_tag    "project_show", media: "all" %>
<% end %>
<% content_for :main_content do %>

<div class="container">
  <% project_info={
    "项目名称" => @project.name,
    "项目来源" => @project.source,
    "项目时间" => @project.start.to_s+' to '+@project.end.to_s,
    "项目类型" => @project.source,
    "项目状态" => @project.state,
    "参与方式" => @project.participation(@user)
  }
    %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <% project_info.each do |dt, dd| %>
          <% next if dd.empty? %>
          <%= sanitize gen_li(dt, dd) %>
        <% end %>
      </div>

      <div class="col-md-6">
        <dl class='dl'>
          <dt>项目描述:</dt><p></p>
          <dd><textarea class="form-control" rows="16" disabled="true"><%= @project.description %></textarea></dd>
        </dl>
      </div>

    </div>
  </div>

  <div class="row" id="back_link">
      <% back = @back_link?@back_link : get_back_link %>
      <%= link_to '返回', back %>
  </div>

</div>
<% end %>