<%= content_for :head do %>
<%= stylesheet_link_tag "match", media: "all" %>
<% end %>
<% content_for :main_content do %>
<div>
	<center>
		<h4>不想再浪费时间？</h4>
		<h4>在大量资料中迷失了方向？</h4>
		<h4>想知道哪些最符合您的需求？</h4>
		<p/>
		<h2 class="text-muted">现在</h2>
		<h3>点击下方的匹配按钮</h3>
		<h1>获得最适合您的科研信息！</h1>
			<%= link_to get_match_path do %>
        <button>匹配</button>
      <% end %>
	</center>
</div>
<% end %>