<% content_for :head do %>
<%= stylesheet_link_tag "match", media: "all" %>
<!-- <script type="text/javascript">)</script> -->
<script>
var t;
function test_click(){
  t=setTimeout("test_click()",1000);
  $.getJSON('<%= j match_status_path %>', function(data){
    console.log(data);
    if(data.status == 'CHANGE' || data.status == 'FINISH')
    {
      for(i in data.loaded)
      { 
        var loaded = $('.loding-info-container').children()[i];
        $(loaded).css('display','block'); //not inline
        $(loaded).addClass('loaded');
        $(loaded).removeClass('loading');
        content = $(loaded).attr('name');
        $(loaded).html('已匹配'+content+'库...');
        console.log();
      }
      var loading = $('.loding-info-container').children()[data.loading];
      content = $(loading).attr('name');
      $(loading).html('正在检索'+content+'库...');
      $(loading).css('display','block');
    }
    var rate = data.rate;
    $('.progress-bar').attr('aria-valuenow', rate);
    $('.progress-bar').css("width", rate+'%');
    if(data.status == 'FINISH') clearTimeout(t);
  });
}
$(document).ready(function(){
  test_click();
  $('.loding-info-container').children().slice(1).css('display','none');
  $('.loding-info-container').css('display','inline');
});
</script>
<% end %>
<% content_for :main_content do %>
<!-- main content -->
<div class="container match-loading">
  <div>
    <h1><b>刘静</b>老师，正在为您匹配，请稍候</h1>
  </div>
  <div class="progress progress-striped active">
    <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      <!-- line feed here is necessary -->
    </div>
  </div>
  <div class="loding-info-container">
    <div class="loading-info achievement loading" name="成果"></div>
    <div class="loading-info expert loading" name="专家"></div>   
    <div class="loading-info paper loading" name="文献"></div>   
    <div class="loading-info project loading" name="项目"></div>
  </div>

</div>
<% end #content_for%>