<% content_for :head do %>
<%= stylesheet_link_tag "match", media: "all" %>
<!-- <script type="text/javascript">)</script> -->
<script>
function test_click(){
  $('#test').click(
    function(){
      var resp = jQuery.getJSON('http://127.0.0.1:3000/match/status', function(){
        console.log(resp.responseJSON.status);
      });
      $('.loading').addClass('loaded');
      $('.loading').removeClass('loading');
  });
}
$(document).ready(function(){
  test_click();
  $('.loding-info-container').children().slice(1).css('display','none');
  $('.loding-info-container').css('display','inline');
});

</script>
<% end %>
<% content_for :main_content do %>
<!-- main content -->
<div class="container match-loading">
  <div>
    <h1><b>刘静</b>老师，正在为您匹配，请稍候</h1>
  </div>
  <div class="progress progress-striped active">
    <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      <span class="sr-only">0% Complete</span>
    </div>
  </div>
    <button id='test'>Test</button>
  <div class="loding-info-container">
    <div class="loading-info achievement loading">
      正在检索成果库...
    </div>
    <div class="loading-info expert loading">
      正在检索专家库...
    </div>   
    <div class="loading-info paper loading">
      正在检索文献库...
    </div>   
    <div class="loading-info project loading">
      正在检索项目库...
    </div>
  </div>

</div>
<% end #content_for%>