<% content_for :main_content do %>
<%= stylesheet_link_tag    "project_show", media: "all" %>
<% end %>
<% content_for :main_content do %>

<div class="container">
  <% paper_info={
    "Paper Name" => @paper.title,
    "Own Type" => get_own_type(@paper, @user),
    "Published in" => @paper.publish,
  }
    %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <% paper_info.each do |dt, dd| %>
          <%= sanitize gen_li(dt, dd) %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="row" id="back_link">
      <% back = @back_link?@back_link : get_back_link %>
      <%= link_to 'Back', back %>
  </div>

</div>
<% end %>