.p1{filter:progid:DXImageTransform.Microsoft.gradient(
		startcolorstr=#fafafa,endcolorstr=#5CACEE,gradientType=0);font-family:黑体;color:blue}	
.p2{font-family:黑体;font-size:14px;}
.p3{background-color:#6699FF;}
.p5{border-color:white}
td{border-color:white;}						/*表格布局*/
.p6{color:white}
.p7{background-color:#CCFFFF;width:120px;height:30px;font-size:20px}
.p8{font-size:25px}
.p9{font-size:14px;color:white;position:relative;width:100%;height:15%;background-color:#5CACEE}	/*top中的div布局*/	
.p10{position:relative;float:left;top:15%;width:15%;height:85%;background-color:#99CCCC}	/*second中left的div布局*/
.p11{position:relative;top:15%;margin-left:15%;width:85%;height:85%;}		/*second中right的div布局*/
.p12{position:relative;top:15%;width:100%;height:70%;}		/*third中center的div布局*/
.p13{position:relative;top:85%;width:100%;height:15%;background-color:#5CACEE;}		/*third中bottom的div布局*/
.p14{position:relative;float:left;top:15%;width:15%;height:75%;background-color:#99CCCC}		/*fourth中窗口中部左侧的div布局*/
.p15{position:relative;top:15%;margin-left:15%;width:85%;height:75%;background-color:#99CCCC}		/*fourth中窗口中部右侧的div布局*/
.p16{position:relative;top:90%;width:100%;height:10%;background-color:#5CACEE;}			/*fourth中bottom的div布局*/
.p17{filter:progid:DXImageTransform.Microsoft.gradient(
		startcolorstr=#fafafa,endcolorstr=#5CACEE,gradientType=0);font-family:黑体;color:blue;position:relative;left:250px;width:600px}		
		/*second中窗口右侧内容部分的一个div布局*/
.p18{filter:progid:DXImageTransform.Microsoft.gradient(
		startcolorstr=#fafafa,endcolorstr=#5CACEE,gradientType=0);font-family:黑体;color:blue;position:relative;left:380px;width:600px}
		/*third中窗口中部内容部分的一个div布局，与p17类似*/