.panel{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFF99;
}
.panel .glyphicon{
	visibility: hidden;/*important,not display*/
	margin-left: 10px;
	margin-right: 0px;
	text-align: right;
	cursor: pointer;
}

.panel:hover .glyphicon{
	visibility: visible;
	text-decoration: none; 
}

.panel p{
	word-break:break-all;
}
.panel a:link {text-decoration: none; color: #AAAA55;}
.panel a:visited {text-decoration: none;color: #AAAA55;}
.panel a:active {text-decoration: none;color: #AAAA55;}
.panel a:hover {text-decoration: none;color: #AABB66;}

.project .panel .panel-heading{
	background-color: #FFFF99;
}
.project .panel:hover .panel-heading{
	background-color: #DDDD88;
};

