.panel .glyphicon{
	visibility: hidden;/*important,not display*/
	margin-left: 10px;
	margin-right: 0px;
	text-align: right;
	cursor: pointer;
}
.panel .glyphicon:hover{
	
}

.panel:hover .glyphicon{
	visibility: visible;
}
.panel:hover .panel-heading{
	background-color: #66CC66;
};

#title{
	background-color: #123456;
	font-size: 99px;
	display: none;
}