body{
}
.form-signin{
	max-width: 280px;
  padding: 20px;
  margin: 1% 20% auto auto;
}
input{
	padding-top: 100px;
	margin-top: 100px;
}
.title{
	text-align: center;
	margin-right: 25%;
	padding-bottom: 10px;
  	color: #FFFFFF;
  	background-color: #66ccff;
  	background-color: rgba(102,204,255,0.85);
	z-index: 0;
}
#login{
	padding-top: 15%;
	padding-bottom: 15%;
	max-width: 1920px;
	max-height: 1080px;
	/*background: url(<%= asset_path 'login_bg.png' %>);*/
	background: url(/assets/login_bg.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: 100%;
	z-index: 1;
}
@media (max-width: 1024px) {
	#login{
		background-size: auto;
	}
}
#login-outline{
	background-color: #66CCFF;
}
.btn{
	margin-top: 10px;
	float: right;
}

h1{
	font-family: \5FAE\8F6F\96C5\9ED1;
	font-weight:900;
}

.zh-cha{
	font-family: \9ED1\4F53;
}

#log_title{
	color: #FFFFFF;
	margin-bottom: 20px;
}
