/*body{
}
#side-bar-right{
	text-align: left;
	background-color: #EEEEEE;
	border-radius: 3px;
	padding: 10px;
}
#portrait{
	margin-top: 10px;
	border-radius: 5px;
}
#header{
}

#top-nav{
}*/
.jumbotron{
	text-align: center;
}