/*======project==========*/
.project-manage thead{
	background-color: #FFFF99;
}

.project-manage td{
	border-style: solid;
	border-width: 2px;
	border-color: gray;
}

.project-manage tr{
	border-style: solid;
	border-width: 2px;
	border-color: #FFFF99;
}

/*======achievement==========*/
.achievement-manage thead{
	color: #EEEEEE;
	background-color: #666699;
}

.achievement-manage td{
	border-style: solid;
	border-width: 2px;
	border-color: gray;
}

.achievement-manage tr{
	border-style: solid;
	border-width: 2px;
	border-color: #666699;
}

/*======paper==========*/
.paper-manage thead{
	background-color: #DDDDDD;
}

.paper-manage td{
	border-style: solid;
	border-width: 2px;
	border-color: gray;
}

.paper-manage tr{
	border-style: solid;
	border-width: 2px;
	border-color: #DDDDDD;
}