.panel-elm{
	width: 100%;
	height: 180px;
	margin-top: 50px;
	padding: 0px;
	text-align: center;
	font-size: 2em;
	font-weight: 800;
}

@media (max-width: 380px) {
	.panel-elm{
		font-size: 1.3em;
		height: 80px;
		margin-top: 10px;
	}
}
.panel-text{
	padding-right: 5px;
	text-align: right;
	word-wrap: break-word;
}

#panel-elm0{background-color: #FFFF99;}
#panel-elm2{background-color: #99FF99;}
#panel-elm4{background-color: #FFCC99;}

#panel-elm1{background-color: #666699;}
#panel-elm3{background-color: #993333;}
#panel-elm5{background-color: #669966;}

#panel-elm1, 
#panel-elm3,
#panel-elm5{
	color: #DDDDDD;
}

#panel-elm0,
#panel-elm2,
#panel-elm4{
	color: #777777;
}

.panel a:link {text-decoration: none;}
.panel a:visited {text-decoration: none;}
.panel a:active {text-decoration: none;}
.panel a:hover {text-decoration: none;}

.panel-elm:hover{
	color: #EEEEEE;
	background-color: #FFCC66;
}
.panel-elm:active{
	color: #EEEEEE;
	background-color: #EEBB55;
}