<% content_for :head do %>
<style type="text/css">
table .manage-cell{
    width:128px;
}
</style>
<% end %>
<% content_for :pre_header do %>
<div class="col-md-2 pull-right btn-group">
    <button type="button" class="btn btn-default glyphicon glyphicon-list active"/>
    <button type="button" class="btn btn-default glyphicon glyphicon-th-large" onclick="window.open('<%=achievement_manage_tag_path %>', '_self')"/>
</div>
<% end %>

<% content_for :head do %>
<%= stylesheet_link_tag    "manage_list", media: "all" %>
<% end %>

<% content_for :header_small_title do %>
成果管理
<% end %>

<% content_for :bottom_nav do %>
<li><%= link_to '创建', new_achievement_path %></li>
<% end %>

<% content_for :main_content do %>
    <div class="container">
        <div class="table-responsive achievement-manage">
            <table class="table table-hover  table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>成果标题</th>
                    <th>简介</th>
                    <th class="manage-cell">管理</th>
                </tr>
                </thead>
                <tbody>
                <%= render 'list_cells'%>
                </tbody>
            </table>
        </div>
    </div>
<% end %>