<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./js/jquery-2.0.3.js"></script>
    <script src="./js/jquery.effects.core.js"></script>
    <script src="./js/jquery.effects.slide.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="./js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>

	
<%= yield %>

</body>
</html>
